* { box-sizing: 0;
  
    }
table{
    display: inline-block;
    background-color: aqua;
}

#logo {
	width: 210px;
	padding-left: 40px;
	padding-top: 10px;
	position: absolute;
}

tr {
    display: inline-block;
}

td{
    width: 33%;
}

.container {
    width:99%;
    display: inline-block;
    background-color: blueviolet;
}

 .container-1 {
    width:70%;    
    display: inline-block;
    background-color: pink;
   
}

.container-2 {
    width: 28%;
    background-color: blue;
    display: inline-block;

    
}

